PATCH method only works if specified in capital letters

When sending an HTTP request through the PATCH method, the server returns status 200 only if the word "patch" is specified in all capital letters. If not done so, error 501 is returned. For the other HTTP methods, whichever way the method name is typed, the request proceeds normally.

This is a general behavior of the Servlet API:

```
 ✘  ~  nc 127.0.0.1 8080 
patch / HTTP/1.0

HTTP/1.1 501 
Content-Length: 0
Date: Fri, 09 Dec 2022 07:24:21 GMT
Connection: close

 ~  nc 127.0.0.1 8080
get / HTTP/1.0

HTTP/1.1 501 
Content-Length: 0
Date: Fri, 09 Dec 2022 07:24:32 GMT
Connection: close

 ~  nc 127.0.0.1 8080
head / HTTP/1.0

HTTP/1.1 501 
Content-Length: 0
Date: Fri, 09 Dec 2022 07:24:50 GMT
Connection: close

 ~  nc 127.0.0.1 8080
HEAD / HTTP/1.0

HTTP/1.1 404 
Vary: Origin
Vary: Access-Control-Request-Method
Vary: Access-Control-Request-Headers
Content-Type: application/json
Date: Fri, 09 Dec 2022 07:24:58 GMT
Connection: close
```

In some cases, Spring's request handling may serve methods with a different letter casing but generally RFC 9110 defines:

> By convention, standardized methods are defined in all-uppercase US-ASCII letters.

See also [RFC 9110 Section 9.1](https://www.rfc-editor.org/rfc/rfc9110.html#section-9.1)