Deserialization of request body for creating PUT requests has to consider identifier derived from the URI [DATAREST-1050]

**[Marc Easen](https://jira.spring.io/secure/ViewProfile.jspa?name=easen)** opened **[DATAREST-1050](https://jira.spring.io/browse/DATAREST-1050?redirect=false)** and commented

Within the RepositoryEntityController the  _putItemResource()_ method will check to see if an item exists, if it does not it will proceed to create it. This is not idempotent/safe.

This bug was invoked by using _@RepositoryRestResource_ which uses the _RepositoryEntityController_ behind the scenes.

In the scenario where the entity/resource has a auto generated ID, the putItemResource() is able to create multiple items.

RFC2616 section 9.1.2 (https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html) states: "_Methods can also have the property of "idempotence" in that (aside from error or expiration issues) the side-effects of N > 0 identical requests is the same as for a single request. The methods GET, HEAD, PUT and DELETE share this property. _"

The change in PUT functionality from being update only to create or update can be traced back to "DATAREST-348 - Support for json-patch+json and merge-patch+json media types"


---

**Affects:** 2.6.1 (Ingalls SR1), 2.5.8 (Hopper SR8)

**Issue Links:**
- [DATAREST-1304](https://jira.spring.io/browse/DATAREST-1304) PUT and PATCH don't work, when custom entity lookup is configured
 (_**"is depended on by"**_)

**Backported to:** [2.6.2 (Ingalls SR2)](https://github.com/spring-projects/spring-data-rest/milestone/63?closed=1), [2.5.9 (Hopper SR9)](https://github.com/spring-projects/spring-data-rest/milestone/64?closed=1)
